/*importing etline icon font*/
@import url("font-etline.css");

/*  DEFAULT */

*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.85em;
    background: #333;
}
#cv-main{
    position: relative;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 9;
}
#cv-main .container {
  position: relative;
}
section{
    position: relative;
    background-color: #373737;
    border: 1px solid #1f1f1f;
    margin-bottom: 30px;
    padding: 26px 30px 28px;
}
h1,
h2,
h3,
h4,
h5{font-weight: 700;}
hr{border-top: 1px solid #1f1f1f;}
.btn:focus,
.btn:active:focus{
    outline: none;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .5) inset;
}

/* ELEMENTS */

/*background shapes*/
.shape{
    position: fixed;
    top: 0;
}
svg:not(:root) {
    overflow: hidden;
}
#shape1{
    left: 0;
    height: 100vh;
    width: 100vh;
    -webkit-filter: drop-shadow( 10px 0 2px hsla(0, 0%, 0%, 0.2));
    filter: drop-shadow( 10px 0 2px hsla(0, 0%, 0%, 0.2));
}
#shape1 .pol{fill: #444;}
#shape2{
    right: 0;
    height: 555px;
    width: 635px;
    -webkit-filter: drop-shadow( -10px 0px 2px hsla(0, 0%, 0%, 0.2));
    filter: drop-shadow( -10px 0px 2px hsla(0, 0%, 0%, 0.2));
}
#shape2 .pol{fill: #e94c3d;}

/* my card */
.my-card{
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    max-width: 285px;
    border-radius: 0;
    background-color: #e94c3d;
    box-shadow: -4px 7px 15px 1px rgba(0,0,0,.2);
    padding-top: 30px;
    z-index: 3;
    border: none;
    transition: all .4s ease;
}
.my-card .card-img-top{
    width: 200px;
    height: 200px;
    background: #8ac3cf;
    margin-bottom: 20px;
}
.my-card .card-block{padding: 0;}
.my-card .card-footer{
    border-radius: 0;
    padding: 30px;
}
.my-card .btn-primary{
    padding: .7rem 2rem;
    background: #1f1f1f;
    border-color: #1f1f1f;
    transition: all .2s ease-in-out;
    border-radius: 30px;
    padding: 9px 23px;
    //pointer-events: none;
    cursor: not-allowed;
}
.my-card .btn-primary:hover{background-color: #000; }
.my-card .social-list li>a{
    font-size: 1.15rem;
    color: #fff;
    opacity: .7;
}
.my-card .social-list li{margin: 0 15px;}
.my-card .social-list li>a:hover{opacity: 1;}

/* right menu */
.right-menu{
    position: absolute;
    right: -45px;
    z-index: 3;
    transition: all .4s ease;
}
.right-menu li{margin-bottom: 30px;}
.right-menu li > a{
    color: #fff;
    position: relative;
    text-decoration: none;
    opacity: 1;
    display: block;
    transition: opacity .2s ease-in-out;
}
.right-menu .icon{
    display: block;
    font-size: 24px;
}
.right-menu .title{
    position: absolute;
    left: 0;
    margin-left: -105px;
    transform: scaleX(0);
    transform-origin: right;
    width: 85px;
    background: #333;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .7);
    transition: transform .2s ease-in-out;
}
.right-menu .title:after{
    content: "";
    position: absolute;
    right: -4px;
    width: 10px;
    height: 10px;
    background: #333;
    top: 8px;
    transform: rotate(45deg);

}
.right-menu li > a:hover,
.right-menu li.active > a{opacity: .7;}
.right-menu a:hover .title{transform: scaleX(1)}

/* top navigation */

.navbar .navbar-brand{
    width: 100px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    padding: 0;
    filter: invert(1) hue-rotate(185deg);
}
.navbar .navbar-nav .nav-link{
    font-weight: bold;
    transition: all .2s ease-in-out;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active .nav-link{color: #fff;}
.navbar{padding: 1.2rem 1rem;}
.navbar .container{padding-left: 315px;}

/* about me */
section h3{ margin-bottom: 22px;}
section#about-me{padding-bottom: 15px;}
.blk-info h4{
    color: #bcbcbc;
    margin-bottom: 15px;
}
.blk-info a{color: #fff;}
.bio-list{line-height: 1.8rem;}

/* meters */
.meter {
    width: 100%;
    position: relative;
    margin: 0;
    line-height: 1;
    margin-bottom: 15px;
}
.meter > span {
  display: inline-block;
  height: 1px;
  background-color: #e94c3d;
  position: relative;
  overflow: hidden;
  width: 0;
}
.skill-nr{
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 1.4s;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.progress-bars .meter:last-of-type{margin-bottom: 0;}

/* portfolio grid*/
#works-grid{
    padding: 0;
    margin-bottom: 28px;
}
.grid-sizer,
.work-item{width: 50%;}
.work-item{
    float: left;
    padding: 1px;
    height: 360px;
    overflow: hidden;
    margin-bottom: 1px;
    transform: translateZ(0);
    backface-visibility: hidden;
}
.work-item-xl{height: 721px;}

/* portfolio cards */
.work-card{
    border-radius: 0;
    transform: translateZ(0);
    border: none;
    backface-visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.work-card .card-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 0%;
    transition: background-position .2s linear;
    border-radius: 0;
}

.card-img-overlay {
    color: #fff;
    z-index: 2;
    opacity: 0;
    width: 100%;
    background: rgba(0,0,0,.8);
    transition: opacity .3s ease-in-out;
    justify-content: center;
}
.card-img-overlay .card-title{
    transform: translateY(-100vh);
    margin-bottom: 2rem;
    transition: transform .3s ease-in-out;
}
.card-img-overlay p{
    margin-bottom: 2.4rem;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.card-img-overlay .btn{
    align-self: center;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: .05em;
    vertical-align: middle;
    padding: 8px 25px;
    border-radius: 35px;
    border: 0;
    background: #d14b4a;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    transform: translateY(100vh);
    transition: all .5s cubic-bezier(.23,1,.32,1) 0s;
}

/* portfolio cards hover effects */
.work-card:hover .card-img{background-position: 50% 100%;}
.work-item-xl.work-item:hover .work-card img{transform: translateY(calc(-100% + 720px));}
.work-item:hover .card-img-overlay {opacity: 1;}
.work-item:hover .card-img-overlay .card-title,
.work-item:hover .card-img-overlay .btn {transform: translateY(0);}
.work-item:hover .card-img-overlay p{opacity: 1;}

/* contact form */
.form-control {
    height: 40px;
    padding: 10px 15px;
    border-radius: 0;
    background-color: #2a2a2a !important;
    transition: border .5s cubic-bezier(.23,1,.32,1) 0s;
    color: #fff;
}
.form-control:focus{
    background-color: #2a2a2a;
    border-color: #000;
}
textarea.form-control{height: 200px;}
.contact-form .btn {
    align-self: center;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: .05em;
    vertical-align: middle;
    padding: 8px 25px;
    border-radius: 35px;
    border: 0;
    background: #d14b4a;
    cursor: pointer;
    outline: none;
}
.btn:hover {box-shadow: -1px 2px 4px rgba(0,0,0,.25);}

/*contact respond*/
#form-messages{
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #373737;
    transform: rotateX(-90deg);
    transition: transform .2s ease;
}
#form-messages .icon{font-size: 46px;}
#form-messages.visible{transform: rotateX(0);}

/* my-location */
#my-location .container{padding: 0;}

/* copyright */
.copyright{
    background-color: #373737;
    border: 1px solid #1f1f1f;
}

.copyright .up-btn{
    padding: 0 10px;
    background: #fff;
    transform: translateY(-27px);
    color: #000;
    font-size: 16px;
}

/* overlay */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #e94c3d;
    display: flex;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
    background-color: #333;
    z-index: 999;
    align-items: center;
    justify-content: center;
}
.overlay h1{
    animation-name: fadeIn;
    animation-delay: 2.5s;
    -webkit-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.overlay h1 span {
    -webkit-animation: blurFadeIn .4s ease-in 1s backwards;
    -moz-animation: blurFadeIn .4s ease-in 1s backwards;
    -ms-animation: blurFadeIn .4s ease-in 1s backwards;
    animation: blurFadeIn .4s ease-in 1s backwards;
    text-shadow: 0px 0px 1px #000;
}
.overlay h1 span:nth-child(2) {
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
    -ms-animation-delay: 1.3s;
    animation-delay: 1.3s;
}
.overlay h1 span:nth-child(3) {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    -ms-animation-delay: 1.6s;
    animation-delay: 1.6s;
}
.overlay h1 span:nth-child(4) {
    -webkit-animation-delay: 1.9s;
    -moz-animation-delay: 1.9s;
    -ms-animation-delay: 1.9s;
    animation-delay: 1.9s;
}


/* Animations */

@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes blurFadeIn{
    0%{
        opacity: 0;
        text-shadow: 0px 0px 40px #000;
        -webkit-transform: scale(1.3);
    }
    50%{
        opacity: 0.5;
        text-shadow: 0px 0px 10px #000;
        -webkit-transform: scale(1.1);
    }
    100%{
        opacity: 1;
        text-shadow: 0px 0px 1px #000;
        -webkit-transform: scale(1);
    }
}





/* RESPONSIVE STYLES */

@media screen and (max-width: 1200px) {
    .my-card{max-width: 240px;}
    .navbar .container{padding-left: 255px;}
}
/* Medium devices (desktops, 992px and up) */
@media screen and (max-width: 991px) {
    .navbar .container{
        padding-left: 0;
        width: 100%;
    }
    .my-card{
        position: relative !important;
        width: 100% !important;
        top: 0 !important;
        max-width: 100%;
        left: 0 !important;
        margin: 0 15px 30px;
    }
}
/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 767px) {

    .navbar-toggler{
        border-color: #000 !important;
        border-radius: 0;
        border-width: 2px;
        right: 0;
    }
    .navbar-nav{text-align: center;}
    #about-me .col-sm-12{margin-bottom: 25px;}
    .bio-list span.float-right,
    .bio-list a.float-right{text-align: right !important;}
    .work-item{width: 100%;}
    .work-item-xl{height: 360px;}

    .send-btn-blk{
        padding: 0;
        text-align: center;
        max-width: 100%;
        margin: 0 auto;
    }

}
@media screen and (max-width: 325px){
    .bio-list b.float-left,
    .bio-list span.float-right,
    .bio-list a.float-right{width: 100% !important;}
}
